:root {
    /* Color */
    --white-color: #f9f9f9;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --dark-grey-color: #555;
    --light-grey-color: #ececec;

    /* Font size */
    --font-large: 1.4rem;
    --font-regular: 1.2rem; 
    --font-medium: 1rem;
    --font-small: 0.8rem; 
    --font-micro: 0.6rem;

    /* Size */
    --avatar-size: 36px;
    --spacing-large: 18px;
    --spacing-medium: 12px;
    --spacing-small: 6px;
    --spacing-micro: 3px;
}

body {
    font-family: "Leckerli One";
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button{
    font-family: "Leckerli One";
    border: none;
    background: none;
}

header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: var(--spacing-medium);
    padding-bottom: var(--spacing-small);
    border-bottom: 3px solid var(--black-color);
}

.logoAndBar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.logo{
    border: 3px solid var(--dark-grey-color);
    border-radius: 50%;
}

.buttons{
    display: flex;
    justify-content: center;
    width: 70%;
}

.buttons button{
    margin: var(--spacing-small);
}

.textBtn:hover, .attachBtn:hover{
    background-color : var(--light-grey-color);
    border: 1px solid var(--black-color);
    border-radius: 4px;
}

/* Tooltip container */
.helpBtn {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.helpText {
    visibility: hidden;
    width: 20rem;
    font-size: var(--font-small);
    background-color: var(--dark-grey-color);
    color: var(--white-color);
    border-radius: 6px; 
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: -650%;
    left: -550%;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.helpText div{
    font-size: var(--font-medium);
    margin-top: var(--spacing-small);
    text-align: center;
}

.helpText li{
    text-align: left;
}

/* Tooltip arrow */
.helpText::after {
    content: "";
    position: absolute;
}

/* Show the tooltip text when you mouse over the tooltip container */
.helpBtn:hover .helpText {
    visibility: visible;
    opacity: 1;
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    border: 2px solid black;
    border-radius: 8px;
    background-color: var(--white-color);
}

.searchBar input[type=text] {
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: var(--font-medium);
    border: none;
    background-color: var(--white-color);
}

.searchBar input[type=text]:focus {
    outline: none;
}

.dropdown{
    position : relative;
    display : inline-block;
    padding: var(--spacing-micro);
}
.dropBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor : pointer;
    font-size: var(--font-small);
    background-color: var(--white-color);
}

.dropBtn span{
    padding: var(--spacing-small);
}

.dropdownContent{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    background-color: var(--white-color);
    min-width : 100%;
}

.dropdownContent a{
    display : block;
    text-decoration : none;
    color : var(--black-color);
    font-size: var(--font-small);
    padding : var(--spacing-medium) var(--spacing-medium);
}

.dropdownContent a:hover{
    background-color : var(--light-grey-color)
}

.dropdown:hover .dropdownContent {
    display: block;
}

.main{
    display: flex;
    flex-direction: column;
    height: 50rem;
    border: 3px solid var(--dark-grey-color);
    border-radius: 8px;
    margin: 0 var(--spacing-medium) var(--spacing-medium) var(--spacing-medium);
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--dark-grey-color);
    color: var(--white-color);
    /* position: absolute;
    bottom: 0; */
}

footer a{
    text-decoration: none;
    color: var(--white-color);
}

