:root {
    /* Color */
    --white-color: #f9f9f9;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --dark-grey-color: #555;
    --light-grey-color: #ececec;
    --gold-color: #D5A11E;
    --silver-color: #A3A3A3;
    --bronze-color: #CD7F32 ;

    /* Size */
    --spacing-huge: 25px;
    --spacing-large: 18px;
    --spacing-medium: 12px;
    --spacing-small: 6px;
    --spacing-micro: 3px;
    --big-logo-width: 325px;
    --big-logo-height: 70px;
    --small-logo-size: 40px;
    --search-logo-size: 15px;

    /* Font size */
    /* --font-large: 1.4rem;
    --font-regular: 1.2rem; 
    --font-medium: 1.0rem;
    --font-small: 0.8rem; 
    --font-micro: 0.6rem; */
}

@media all and (min-width:320px) {
    :root{
        /* Font size */
        --font-large: 1rem;
        --font-regular: 0.8rem; 
        --font-medium: 0.6rem;
        --font-small: 0.4rem; 
        --font-micro: 0.2rem;
    }
}
@media all and (min-width:768px) {
    :root{
        /* Font size */
        --font-large: 1.2rem;
        --font-regular: 1rem; 
        --font-medium: 0.8rem;
        --font-small: 0.6rem; 
        --font-micro: 0.4rem;
    }
}
@media all and (min-width:1024px) {
    :root{
        /* Font size */
        --font-large: 1.4rem;
        --font-regular: 1.2rem; 
        --font-medium: 1.0rem;
        --font-small: 0.8rem; 
        --font-micro: 0.6rem;
    }
}

body {
    font-family: 'Pretendard';
    font-weight: 800;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--white-color);

    /* 정답이 하나라도 들어오면 활성화 */
    /* padding-top: 5px;  */
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contentWrapper {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    font-family: 'Pretendard';
    font-weight: 800;
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--white-color);

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--white-color);
    margin-bottom: var(--spacing-medium);
    z-index: 10;
}

.logoBig {
    /* 정답들어오면 비활성화 */
    flex-direction: column;
    width: 100%;
}

.logoSmall {
    /* 정답들어오면 활성화 */
    width: 60%;
    margin-top: var(--spacing-medium);
}

.notLogo {
    width: 100%;
    display: flex;
    align-items: center;
}

.Big {
    flex-direction: column;
}

.Small {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.logoBig .logo{
    width: var(--big-logo-width);
    height: var(--big-logo-height);
}

.logoSmall .logo {
    width: var(--small-logo-size);
    height: var(--small-logo-size);
    margin-right: var(--spacing-small);
}

.buttons{
    display: flex;
    justify-content: flex-end;
}

.btnBig {
    width: 60%;
}

.buttons button {
    margin: var(--spacing-small);
    font-size: var(--font-large);
}

.inputText, .fileText {
    visibility: hidden;
    width: 5rem;
    font-size: var(--font-small);
    background-color: var(--dark-grey-color);
    color: var(--white-color);
    border-radius: 6px; 
    /* Position the helptip text */
    position: absolute;
    z-index: 1;
    left: -90%;
    /* Fade in helptip */
    opacity: 0;
    transition: opacity 0.3s;
}

.helpText div{
    font-size: var(--font-);
    margin-top: var(--spacing-small);
    text-align: center;
}

/* Helptip container */
.helpBtn, .textBtnHead, .attachBtnHead {
    cursor: help;
    position: relative;
    display: inline-block;
}

/* Helptip text */
.helpText {
    visibility: hidden;
    width: 20rem;
    font-size: var(--font-small);
    background-color: var(--dark-grey-color);
    color: var(--white-color);
    border-radius: 6px; 
    /* Position the helptip text */
    position: absolute;
    z-index: 1;
    left: -400%;
    /* Fade in helptip */
    opacity: 0;
    transition: opacity 0.3s;
}

.helpText div{
    font-size: var(--font-);
    margin-top: var(--spacing-small);
    text-align: center;
}

.helpText li{
    text-align: left;
}

/* Show the helptip text when you mouse over the helptip container */
.helpBtn:hover .helpText, .textBtnHead:hover .inputText, .attachBtnHead:hover .fileText {
    visibility: visible;
    opacity: 1;
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    border: 2px solid var(--black-color);
    border-radius: 8px;
    background-color: var(--white-color);
    padding: var(--spacing-small);
}

.searchSmall {
    width: 100%;
}

.searching {
    font-family: 'Pretendard';
}
.searchBar input[type=text] {
    padding: 0;
    width: 100%;
    font-size: var(--font-medium);
    border: none;
    background-color: var(--white-color);
}

.searchBar input[type=text]:focus {
    outline: none;
}

/* FLOAT */
.searchBtn {
    cursor: pointer;
    margin-right: var(--spacing-micro);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.searchBtn:hover{
    font-size: var(--font-medium);
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
} 

.searchBtn img {
    width: var(--search-logo-size);
    height: var(--search-logo-size);
}

.dropdown{
    position : relative;
    display : inline-block;
}
.dropBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor : pointer;
    font-size: var(--font-small);
    background-color: var(--white-color);
}

.dropBtn span{
    padding: var(--spacing-small);
}

.dropdownContent{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    background-color: var(--white-color);
    min-width : 100%;
}

.dropdownContent button{
    cursor: pointer;
    display : block;
    width: 100%;
    text-decoration : none;
    color : var(--black-color);
    font-size: var(--font-small);
    padding : var(--spacing-medium) var(--spacing-medium);
}

.dropdownContent button:hover{
    background-color : var(--light-grey-color)
}

.dropdown:hover .dropdownContent {
    display: block;
}

.example {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-medium);
    padding: var(--spacing-small);
    /* border: 2px solid var(--black-color);
    border-radius: 8px; */
}

.example button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--spacing-micro);
}

.example .tile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-medium);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--light-grey-color);
    margin-bottom: var(--spacing-small);
}

.textBtn .tile-icon, .attachBtn .tile-icon {
    background-color: var(--black-color);
    color: var(--white-color);
}

.textBtn:hover, .attachBtn:hover, .exampleBtn:hover{
    outline: 1px solid var(--black-color);
    border-radius: 4px;
}

.example .exampleList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    list-style: none;
}

.example .exampleAnswer {
    border: 1px solid;
}

.main{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-huge);
    
    width: 100%;
    align-items: center;
}

.hide{
    height: 0;
    display: none;
}

.result {
    display: flex;
    flex-direction: column;

    width: 60%;
    border: 2px solid var(--black-color);
    border-radius: 8px;
    padding: var(--spacing-small);
    margin-bottom: var(--spacing-medium);
}

.result .answerbox {
    display: flex;
    align-items: center;
}

div .ranking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ranking .score {
    font-size: var(--font-micro);
}

.result .answer {
    font-weight: 900;
    font-size: var(--font-large);
    flex: 1;
}

.result .context .answerPart {
    font-weight: 900;
    color: var(--black-color);
    font-size: var(--font-medium);
    padding: var(--spacing-micro);
}

.result .gold .answer {
    color: var(--gold-color);
}

.result .silver .answer {
    color: var(--silver-color);
}

.result .bronze .answer {
    color: var(--bronze-color);
}

.result .showContext {
    align-self: flex-end;
    font-size: var(--font-small);
}

.result .showContext button {
    margin-left: var(--spacing-small);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.result .showContext button:hover{
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
} 

.result .context{
    display: block;
    padding: var(--spacing-large);
    text-align: justify;
    line-height : 1.5;
    
}

.result .context .title {
    font-weight: bolder;
    font-size: var(--font-small);
    color: var(--dark-grey-color);
    text-align: center;
}

.result .context .paragraph {
    font-size: var(--font-small);
    color: var(--dark-grey-color);
    font-weight: 700;
    line-height: 2em;
    height: 100%;
}

.preview {
    /* animation: real-view 3s; */
    animation-fill-mode: forwards;
    opacity: 0.3;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preview .result {
    height: 30%;
    overflow: hidden;
    border-bottom: none;
}

.realview {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blurrr {
    animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moreAnswers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.attachText{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 60%;
}

.attachText .exitBtn{
    align-self: center;
    border: 1px solid #000;
    border-radius: 8px;
    margin: var(--spacing-small);
    font-size: var(--font-medium);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.attachText .exitBtn:hover{
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}

.attachText textarea{
    background-color: var(--white-color);
    border: 2px solid var(--dark-grey-color);
    border-radius: 8px;
    font-size: var(--font-medium);
    font-family: 'Pretendard';
    font-weight: 600;
    padding: var(--spacing-small);
    width: 100%;
    /* margin: 0 var(--spacing-huge) 0 var(--spacing-huge); */
}

.attachText textarea:focus{
    outline: none;
}

.attachFile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 26vh;

    border: 2px solid var(--black-color);
    border-radius: 8px;
    padding: var(--spacing-small);
    
    outline: 2px dashed var(--light-grey-color);
    outline-offset:-10px; 
    transition: all .15s ease-in-out;
    background-color: var(--dark-grey-color);
    color: var(--light-grey-color);
}

.attachFile input[type="file"] {
    display: none;
}

footer {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--dark-grey-color);
    color: var(--white-color);
}

footer div{
    padding: var(--spacing-small);
}

footer a{
    padding: var(--spacing-small);
    text-decoration: none;
    color: var(--white-color);
}

